body{
    margin: 0;
    top: 0;
    padding: 0;
    color: white;
    background-color: rgb(20, 20, 20);
}
img{
    width: 500px;
    height: 700px;
    border: 10px;
}
#logo{
    width: 200px;
    height: 200px;
    margin-left: 45%;
}
section{
    display: flex;
    margin: 20px;
}
p{
    width: 400px;
    margin: 5%;
}

h1{
    text-align: center;
}

span{
    margin: 20px;
}

article{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: justify;
    margin-left: 100px;
    padding: 2%;
}
header{
    align-items: center;
}


